= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
  .field
    .field__title
      = f.text_field :title, class: "field__title__input", placeholder: "タイトルを入力してください："
    %label.field__image 
      = icon('fas', 'image', class: 'icon')
      %p.field__image__label 写真の挿入＝＝＞
      = f.file_field :image, id: :message_img,placeholder: "写真の貼り付け："
      :javascript
        $(function() {
         function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
         }
         $("#message_img").change(function(){
           readURL(this);
         });
        });
    .field__img-show
      = image_tag @message.image.url, id: :img_prev,size: '800x600' if @message.image?
    .field__text
      = f.text_area :body,class: "field__text__input", placeholder: "テキストを入力して下さい："
    %label.actions
      = f.submit 'Send', class: "actions__send"
