= form_for @message do |f|
  .message-side
    %ul.msg_menu
      %li
        %button{type: "submit", class: "new_msg_send"}
          = icon("fas","paper-plane")
      %li
        = icon("fas","paperclip")
      %li
        = icon("fas","file")
      %li
        = icon("fas","tags", id: "tag_push")
      %li
        = icon("fas","trash")

  .message-main
    .title-area
      %span.msg_e#title_error
      = f.text_field :title, autocomplete: "off", placeholder: "タイトル：", maxlength: 25
    .img-area
      %span.img-area__annotation 画像は5枚まで入力できます
      .img-area__menu
        = f.fields_for :images do |img|
          %label#msg-img-box{for: "message_images_attributes_0_img_src"}
            .push_btn#add-img 追加
          .js-file_group{"data-index" => "#{img.index}"}
            = img.file_field :img_src, class: 'js-file'
          .push_btn#delete-img{name: ""}
            選択
          .push_btn#done-img
            削除
      .img-area__box
      = icon("fas", "image", class: "photo")
    .tag_detail
      .tag_choose
        .parent_list
          - @parents.each do |parent|
            %span.parent{id: "parent_#{parent.id}", 'data-id': parent.id}
              = parent.name
        .child_list
      .tag_show
        .tag_text
          = icon('fas', 'tag')
          タグ:
        .tag_lists
      .detail-area
        %span.msg_e#detail_error
        = f.text_area :body,placeholder: "テキスト："
        %button.text_reset_btn{type: "button"} リセット
