= form_for @message do |f|
  .message-side
    %ul.msg_menu
      %li
        %button{type: "submit", class: "new_msg_send"}
          = icon("fas","paper-plane")
      %li
        = icon("fas","paperclip")
      %li
        = icon("fas","file")
      %li
        = icon("fas","tags")
      %li
        = icon("fas","trash")

  .message-main
    .title-area
      %span.msg_e#title_error
      = f.text_field :title, autocomplete: "off", placeholder: "タイトル：", maxlength: 25
    .img-area
      %span.img-area__annotation 画像は5枚まで入力できます
      .img-area__menu
        = f.fields_for :images do |img|
          %label#msg-img-box{for: "message_images_attributes_0_img_src"}
            .push_btn#add-img 追加
          .js-file_group{"data-index" => "#{img.index}"}
            = img.file_field :img_src, class: 'js-file'
          .push_btn#delete-img{name: ""}
            選択
          .push_btn#done-img
            削除
      .img-area__box
      = icon("fas", "image", class: "photo")
    .detail-area
      %span.msg_e#detail_error
      = f.text_area :body,placeholder: "テキスト："
      %button.text_reset_btn{type: "button"} リセット

// ↓↓ 無限スクロールを導入予定
-# .scroll-wrapp
-#   %ul.msg_menu
-#     %li.l1
-#       = icon("fas","paper-plane", class: "lll")
-#     %li.l2
-#       = icon("fas","paperclip", class: "ll")
-#     %li.l3
-#       = icon("fas","file", class: "l")
-#     %li.l2
-#       = icon("fas","tags", class: "ll")
-#     %li.l1
-#       = icon("fas","trash", class: "lll")
-# %p#loading
-#   %i.fas.fa-bell.faa-spin.animated{style: "font-size: 50px;"}
