.mypage
  - if @user.id == current_user.id
    %ul.mypage__menu
      %li.list#user_home
        = icon("fas", "home")
      %li.list#profile.profile-box{"data-id": 1}
        = icon("fas", "user")
      %li.list
        = icon("fas", "cog")
      %li.list#history.posts-box{"data-id": 4}
        = icon("fas", "window-restore")
      %li.list
        = icon("fas", "edit")
      %li.list
        = icon("far", "map")
      %li.list
        = icon("fas", "question-circle")
    .mypage__whole
      .mypage-top
        %span.top-text プロフィール
      .mypage-main
        = form_for current_user, html: {class: 'edit_user'} do |f|
          .user-info
            .user-info__right
              .img-wrapper{for: 'user_user_image'}
                %label{for: 'user_user_image'}
                  - if current_user.user_image.present?
                    = image_tag current_user.user_image.url, class: "profile-img"
                  - else
                    = image_tag '', class: "profile-img", style: "display:none;"
                    = icon("fas", "user", id: "icon_user")
                = icon("fas", "camera", id: "camera")
              = f.file_field :user_image, style: "display: none;"
              .introduction
                %span 自己紹介
                .introduction__detail 
                  = f.text_area :detail
            .user-info__left
              .text-box
                %span ニックネーム
                .user-text
                  = f.text_field :name, maxlength: 25
              .text-box
                %span 職業
                .user-text
                  = f.select(:character,[["患者","患者"],["医師",'医師'],["アカデミー","アカデミー"]],selected: "#{current_user.character}")
              = f.submit "更新する", class: "user-update"
  - else
    -# 他ユーザーの情報
    .other_info_left
      .user_profile
        - if @user.user_image.present?
          = image_tag @user.user_image.url, size: "200x200", style: "border-radius: 50%;"
        - else
          .no-img
            = icon("fas", "user")
        .prof_info
          .prof_info__list
            %div ニックネーム
            %span
              = @user.name
          .prof_info__list
            %div 職業
            %span
              = @user.character
      .user_intro
        .intro 自己紹介
        .intro_box
          = @user.detail
    .other_info_right
      .post_title 投稿リスト
      %ul.other_posts
        - @user.messages.each_with_index do |msg, idx|
          = link_to "/messages/#{msg.id}", id: "link_#{idx}" do
            %li.post
              .post__title
                = msg.title
              .img_and_date
                .images
                  - msg.images.each do |img|
                    = image_tag img.img_src.url, size: "22x22",class: "post_msg_img"
                .date
                  = msg.created_at.strftime('%Y/%m/%d')
              .post__body
                = safe_join(msg.body.split("\n"),tag(:br))
      .contact_menu
        - if @isRoom == true
          = link_to "メッセージを送る", "/rooms/#{@roomId}", id: "send_dm"
        - else
          = form_for @room do |f|
            = fields_for @entry do |e|
              = e.hidden_field :user_id, :value=> @user.id
            = f.submit "メッセージを送る",id: "send_dm"
    

    //ホーム画面
    -# .mypage-top
    -#   %span.top-text #{@user.name}
    -# - if current_user.id == @user.id 
    -#   .mypage-main
    -#     %ul.menu-lists.margin_bottom
    -#       %li.profile-box
    -#         .logo-box
    -#           - if current_user.user_image.present?
    -#             = image_tag current_user.user_image.url, class: "profile-box__img"
    -#           - else
    -#             = image_tag "/assets/default.jpg", class: "profile-box__img"
    -#         .user-show-text プロフィール
    -#       %li.setting-box
    -#         .logo-box
    -#           = icon("fas", "cog")
    -#         %span.user-show-text 設定
    -#       %li.guide-box
    -#         .logo-box
    -#           = icon("far", "map")
    -#         %span.user-show-text 利用ガイド
    -#     %ul.menu-lists
    -#       %li.posts-box
    -#         .logo-box
    -#           = icon("fas", "window-restore")
    -#         %span.user-show-text 投稿リスト
    -#       %li.posting-box
    -#         .logo-box
    -#           = icon("fas", "edit", class: "icon-write")
    -#         %span.user-show-text 投稿する
    -#       %li.help-box
    -#         .logo-box
    -#           = icon("fas", "question-circle")
    -#         %span.user-show-text ヘルプ