.room_whole
  .right_room
    .undecided
      = form_for @dm ,html: {class: 'dm-form'} do |f|
        = f.text_area :content, :placeholder => "メッセージを入力して下さい",class: "dm_input", cols: "40", rows:"8", "data-name": "inactive"
        = f.hidden_field :room_id, :value => @room.id
        = f.submit "送信", class: "send_dm"
  .left_room
    - @entries.each do |e|
      - if e.user.id != current_user.id
        .anothers_name
          - if e.user.user_image.present?
            = image_tag e.user.user_image.url, size: "40x40", style: "border-radius: 50%; vertical-align: middle;"
          - else
            = image_tag "/assets/default.jpg", size: "40x40", style: "border-radius: 50%; vertical-align: middle;"
          = link_to "#{e.user.name} さん", "/users/#{e.user.id}"
    .dm_box  
      #dms
        - if @dms.present?
          - @dms.each do |dm|
            -if dm.user_id == current_user.id
              .your_dm
                .user_name
                  %span.your_name
                    = dm.user.name + ":"
                  %span.posted_date
                    = dm.created_at.strftime('%Y/%m/%d %H:%M')
                .dm_content
                  %span.dm_content__span
                    = safe_join(dm.content.split("\n"),tag(:br))

            - else
              .anothers_dm
                .user_name
                  %span
                    = dm.user.name + ":"
                  %span.posted_date
                    = dm.created_at.strftime('%Y/%m/%d %H:%M')
                .dm_content
                  %span.dm_content__span
                    = safe_join(dm.content.split("\n"),tag(:br))
        - else
          .annotation_dm メッセージは空です