!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HeartConnect2
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: 'https://www.google.com/recaptcha/api.js?hl=ja'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.main-body
    .sub_contents
      = yield
      %footer
        .prodution
          2020 PRODUCTION IN TECH-EXPERT.
        .ulll
          =link_to "https://www.facebook.com/", class: "ulll__btn ulll__btn--facebook" do
            = icon('fab', 'facebook-square',  class: "ulll__btn--icon")
            -# Facebook
          =link_to "https://twitter.com/", class: "ulll__btn ulll__btn--twitter" do
            = icon('fab', 'twitter', class: "ulll__btn--icon")
            -# Twitter
          =link_to "https://www.instagram.com/", class: "ulll__btn ulll__btn--instagram" do
            = icon('fab', 'instagram', class: "ulll__btn--icon")
            -# Instagram